authlib
fastapi
python-multipart
pydantic
pydantic-settings
surrealdb
redis
celery[redis]
flower
ipfshttpclient
web3
eth-account
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-dotenv
aiofiles
httpx
python-dateutil
pydantic[email]
itsdangerous
gunicorn
uvicorn[standard]
